.calendar{
	border-collapse: collapse;
	height: 50%;
	position: relative;
}

.calendar td {
	border: 1px solid black;
	width: 14vw;
	height: 20vw;
	vertical-align: text-top;
	background-color: white;

}


#chatTable {
	width: 70%;
	margin-bottom: 100px;
}


#CHAT {
	height: 92%;
	overflow: scroll;
}

#slap  {
	height: 0;
	width: 0;
}

