.calendar{
	border-collapse: collapse;
	margin: 10px;
}

.calendar td {
	border: 1px solid black;
	width: 14vw;
	height: 20vw;
	vertical-align: text-top;
}

.unit {
	margin: 0px;
}
.day {
	margin: 0px;
}
.challenge {
	margin: 2px 0px 2px 0px;
}

.goals {
	padding: 0px 0px 0px 1.2em;
	margin: 4px 0px 2px 0px;
}